body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#countdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background: #000;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.countdown-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}
.countdown-value{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: #f00;
    animation: pulse 3s infinite;
}
.countdown-label{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #999;
    margin: 0;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}