/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* hero background image */
.bgimage {
  height:130vh;
  background: url('home.jpg');
  background-size:cover;
  position:relative;
}

/* text css above hero image*/
.hero_title {
  font-size: 3.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
} */
#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
.my-details{
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
}
.card a:link {
  text-decoration: none;
}
.card a{
  color: black;
}
.project_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 120px;
}